$color-gray: #ccc;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}

main,
header {
  margin: 12px auto;
  display: block;
  max-width: 1020px;

  @media (min-width: 1024px) {
    margin-left: 260px;
  }
}

header {
  border-bottom: 1px solid $color-gray;

  h2 {
    font-size: 24px;
  }
}

ngx-nav-drawer .ngx-nav-drawer {
  & > a {
    font-size: 16px;
    font-weight: normal;
  }

  .nav-category {
    padding: 10px 14px;
    font-size: 18px;
    display: block;
    border-bottom: 1px solid $color-gray;
  }
}
